files:
  "/etc/awslogs/awscli.conf":
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/config/logs.conf":
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/log/eb-docker/containers/eb-current-app]
      log_group_name = /aws/elasticbeanstalk/newborn-nest/var/log/eb-docker/containers/eb-current-app
      log_stream_name = {instance_id}
      file = /var/log/eb-docker/containers/eb-current-app/*

commands:
  01_enable_awslogs:
    command: systemctl enable awslogsd
  02_start_awslogs:
    command: systemctl start awslogsd
